.chatList {
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  height: 100%;
  margin-bottom: 16px;

  &::-webkit-scrollbar {
    width: 1px;
  }
}

.listUpperItem {
  border-radius: 5px;
  padding: 6px;
  padding-bottom: 12px;

  div {
    margin-bottom: 8px;

    span {
      font-size: 10px;
      margin-left: 8px;
    }
  }
}

.userImage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
  }
}

.listBottomItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button:hover {
    transform: scale(1.2);
  }
}

.listIcon {
  background: transparent;
  border: none;
  width: 25px;
  cursor: pointer;
}

.stickerMessage {
  width: 50%;
  border-radius: 0;
}
