.headerChat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 10%;
  margin-bottom: 16px;
  z-index: 100;

  p {
    font-size: 1.8em;
    font-weight: 800;
    color: black;
  }

  button {
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1.2);
    }
  }
}
