.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.instructionsBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  background-color: lightsalmon;
  height: 80vh;
  width: 70vw;
  border-radius: 20px;
  padding: 20px;

  h2 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }

  img {
    width: 600px;
    max-width: 80%;
    border: 1px solid white;
    border-radius: 8px;

    &:hover {
      transform: scale(1.5);
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    max-height: 15%;
    width: 100%;

    button {
      background-color: lightblue;
      border: none;
      border-radius: 30px;
      height: 75px;
      width: 10%;
      cursor: pointer;
    }
  }
}
