.stickerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0 3px 0 0;
  min-width: 50px;
  min-height: 50px;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & :hover {
    filter: grayscale(0);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    // color: black;
  }
}

.innerBox {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 30px;
  bottom: 30px;
  padding: 16px;
  box-shadow: rgba(4, 4, 5, 0.15) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.24) 0px 8px 16px 0px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  padding-top: 16px;
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
  }

  img {
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    &:hover {
      background-color: #637e78;
    }
    &:focus {
      background-color: #637e78;
    }
  }
}
