.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 8vh;
  max-height: 10vh;
  margin-bottom: 50px;
  z-index: 1;

  div {
    cursor: pointer;
    // background-image: url('https://pbs.twimg.com/media/FH3wMzeXsAIm2p6?format=jpg&name=large');
    // background-size: 150%;
    // background-position: center;
  }
}

.volumeButton {
  button {
    height: 5vh;
    width: 5vh;
    margin: 0 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
  }
}

.volumeButton > button :active {
  border-radius: 50%;
  background-color: white;
}

.videoButton {
  height: 5vh;
  width: 6vw;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  background-size: cover;
  cursor: pointer;
}

.vinteUm {
  background-image: url('https://i.ytimg.com/vi/X2mOfqeAH7c/maxresdefault.jpg');
}

.vinte {
  background-image: url('https://i.ytimg.com/vi/fLpCyU_SHRo/maxresdefault.jpg');
}

.dezenove {
  background-image: url('https://i.ytimg.com/vi/PhfXQ58ywuI/maxresdefault.jpg');
}
