.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-height: 10vh;
  z-index: 1;

  div {
    cursor: pointer;
    // background-image: url('https://pbs.twimg.com/media/FH3wMzeXsAIm2p6?format=jpg&name=large');
    // background-size: 150%;
    // background-position: center;
  }
}

.headerButton {
  width: 150px;
  height: 75px;
  background-color: transparent;
  color: white;
  // cursor: pointer;
}
